label{
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: inline-start;
    
}
table
{
    background-color: transparent;
    height: auto;
    width: auto;
}
input[type=text]{
    border: 2px solid black;
    border-radius: 6px;
    margin: auto;
}
input[type=submit],input[type=button]{
    font-size: 20px;
    border-radius: 7px;
    color: whitesmoke;
    background-color: black;
    margin: auto;
}
input[type=reset]{
    font-size: 20px;
    border-radius: 7px;
    color: whitesmoke;
    background-color: black;
    margin: auto;

}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg");
    height: 100%;
    width: 100%;
}
form{
    top: 40%;
    left: 35%;
    position: absolute;
}


